@import "tailwindcss";

@theme {
  --color-neutral-900: hsl(33, 15%, 15%);
  --color-neutral-800: hsl(33, 22%, 20%);
  --color-neutral-700: hsl(32, 20%, 29%);
  --color-neutral-600: hsl(33, 17%, 41%);
  --color-neutral-400: hsl(36, 22%, 86%);
  --color-neutral-200: hsl(30, 24%, 93%);
  --color-neutral-100: hsl(35, 60%, 96%);
  --color-neutral-50: hsl(40, 60%, 98%);
  --color-white: hsl(0, 0%, 100%);

  --color-sun-500: hsl(42, 83%, 58%);
  --color-sun-300: hsl(44, 84%, 75%);
  --color-sun-200: hsl(45, 100%, 74%);
  --color-sun-50: hsl(41, 100%, 93%);

  --color-terracotta-700: hsl(15, 69%, 37%);
  --color-terracotta-600: hsl(15, 74%, 41%);
  --color-terracotta-500: hsl(18, 62%, 47%);
  --color-terracotta-400: hsl(22, 72%, 56%);
  --color-blue-500: hsl(230, 49%, 56%);

  --color-rose-500: hsl(340, 48%, 52%);

  --font-heading: "Fraunces", serif;
  --font-body: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;
}

@font-face {
  font-family: "Fraunces";
  src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "DM Sans";
  src: url(./assets/fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "DM Mono";
  src: url(./assets/fonts/dm-mono/DMMono-Regular.ttf) format("truetype");
}

body {
  background-color: var(--color-neutral-100);
  font-family: "DM Sans", sans-serif;
  font-size: 0.875rem;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}
